general:
  listen_addr:        127.0.0.1
  listen_port:        8670
  charset:            utf-8
  content_type:       'application/json; charset=utf-8'
  max_workers:        5
  lock_timeout:       60
  redis:
    nsaproxy:
      url:            'redis://127.0.0.1:6379?db=0'
  pdns:
     api_uri:     'http://localhost:8081'
     credentials: file:///etc/nsaproxy/credentials.yml
import_modules:
  - modules/api.yml
#dns:
#  domains:
#    default:
#      import_rrsets: rrsets/default.yml.example
#    example.org:
#      import_rrsets: rrsets/exemple.org.yml.example
#  soa:
#    default:
#      content: '%(nameserver.0)s %(email_address)s 0 7200 900 604800 300'
#      email_address: 'foo@example.com'
#    example.org:
#      content: 'ns3.example.org. %(email_address)s 0 7200 3600 1209600 3600'
#      email_address: 'bar@example.org'
plugins:
  cdns:
    enabled: true
    deployment: production # null, staging or production
    credentials: file:///etc/nsaproxy/credentials.yml
#    soa:
#      default:
#        email_address: 'foo@example.org'
#    exclude:
#      'example.com': '*'
#      'example.net':
#        'AAAA': '*'
#      'example.org':
#        'CNAME':
#          - '*.example.org.'
  r53:
    enabled: true
    credentials: file:///etc/nsaproxy/credentials.yml
